:root {
  --color-primary: #27ae60;
  --color-secondary: #eb5757;

  --gray-600: #333333;
  --gray-300: #828282;
  --gray-100: #e0e0e0;
  --gray-0: #f5f5f5;

  --color-negative: #e60000;
  --color-warning: #ffcd07;
  --color-success: #168821;
  --color-information: #155bcb;

  --font-family: "Inter", sans-serif;

  --font-weight-1: 700;
  --font-weight-2: 600;
  --font-weight-3: 400;
}

body {
  font-family: var(--font-family);
  line-height: 150%;
}
