* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

img {
  max-width: 100%;
}

input {
  background-color: transparent;
  border: none;
  font-family: var(--font-family);
}

ul {
  list-style: none;
}
